/* 
    BASIC STEP
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.site-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.product-detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* column-gap: 24px; */
}

.product-detail__image {
    grid-column: 1 / 9;
    margin-right: 48px;
}

.product-detail__image-box {
    display: flex;
    flex-wrap: wrap;
}

.product-detail__image-item {
    width: 50%;
    padding: 0 12px 12px 0;
}

.product-detail__image-item img {
    width: 100%;
    height: 100%;
}

.product-detail__information {
    grid-column: 9 / 13;
}

.product-detail__information__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.product-detail__information__variant-list {
    display: flex;
    flex-wrap: wrap;
}

.product-detail__information__variant {
    margin-bottom: 50px;
}

.product-detail__information__variant-item {
    width: 125px;
    list-style: none;
    padding: 5px;
}

.product-detail__information__variant-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-detail__information__size-select-heading {
    margin-bottom: 10px;
}

.product-detail__information__size-select-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin-bottom: 24px;
}

.product-detail__information__size-select-item {
    max-width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #757575;
    justify-content: center;
    border-radius: 5px;
}

.visually-hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.product-detail__information__add-to-cart-btn {
    width: 100%;
    padding: 18px 24px;
    border-radius: 30px;
    background: #111;
    color: #fff;
    border: none;
    margin-bottom: 50px;
}

.product-detail__information__description {
    margin-bottom: 50px;
}

.product-detail__information__description p {
    font-size: 16px;
    line-height: 28px;
}

.accordion-btn {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    outline: none;
    transition: 0.4s;
}

.accordion-panel {
    padding: 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion-panel p {
    line-height: 28px;
}

.active,
.accordion-btn:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
